.heading {
  color: green;
}

.collapse {
  justify-content: right;
}

.navbar {
  background-color: crimson !important;
  border-radius: 0px 0px 0px 35px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  color: antiquewhite;
}

.nav-link {
  font-size: 22px;
  font-weight: 500;
  color: black !important;
}

.add-bar {
  border-right: 2px solid black !important;
}

.homepage-container {
  margin: 40px;
}

.chart {
  display: flex;
  margin: auto;
  margin-top: 6%;
}

.date-range {
  margin: 30px 0px;
}

.css-1jkcq86-MuiResponsiveChart-container {
  display: flex;
  margin: auto;
  margin-top: 6%;

}

.version-text {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.form-switch {
  display: flex;
  justify-content: right;
}

.black-mode {
  background-color: black;
  color: white;
  margin: 0;
  padding: 40px;
}

.MuiChartsLegend-root {
  color: white;
}

.table-div {
  border: 1px solid lightgray;
  margin: 10px;
}

.btn-col {
  margin: auto;
  display: flex;
  justify-content: right;
}

.bi {
  width: 25px;
  height: 25px;
  cursor: pointer;
}